<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayogeshwaran.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Look at the "README.md" file to know how to get the api key -->
        <meta-data
            android:name="api_key"
            android:value="*******" />

        <activity android:name=".MoviesListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MovieDetailsActivity"
            android:launchMode="singleTop"
            android:label="MovieDetail" />

        <activity android:name=".ReviewsListActivity"
            android:parentActivityName=".MovieDetailsActivity"
            android:label="Reviews"/>

        <activity android:name=".VideosListActivity"
            android:parentActivityName=".MovieDetailsActivity"
            android:label="Videos"/>

        <provider
            android:name=".data.MoviesProvider"
            android:authorities="com.example.ayogeshwaran.popularmovies"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>